* {
  font-family: avenir;
  font-size: 80px;
  color: red;
  margin: 20px;
  margin-bottom: 100px;
  text-align: center;
}

.score {
  margin-top: 200px;
}

.button
{
  border:5px blue;
  background-color: blue;
  border-radius: 20px;
  width: 300px;
}

.darkmode{
  border:5px blue;
  background-color: black;
  border-radius: 20px;
  width: 400px;
}

.whitemode{
  border:5px blue;
  background-color: black;
  border-radius: 20px;
  width: 400px;
}
